.left-image {
  background-image: url(../../assets/img/images/login-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.auth-card {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 40px;
  border-radius: 5px;
}

.mobile-container {
  background-image: linear-gradient(180deg, #FCB8C4 0%, #FB3357 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-text::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -14px;
  background-color: white;
  width: 20%;
  height: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}