.contact--page {
  width: 100%;
  height: 90vh;
  .call--contact {
    padding: 5px 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .call--active {
    background-color: #d9d9d9;
  }
}

.cs-message-group--incoming
  .cs-message-group__messages
  .cs-message:last-child
  .cs-message__content {
  border-radius: 0 0.7em 0.7em 0.7em;
  background-color: #d9d9d9;
}

.cs-message-group--incoming
  .cs-message-group__messages
  .cs-message:first-child
  .cs-message__content {
  border-radius: 0.7em 0.7em 0.7em 0;
  background-color: #d9d9d9;
}

.cs-message-group--incoming
  .cs-message-group__messages
  .cs-message:only-child
  .cs-message__content {
  border-radius: 0.7em 0.7em 0.7em 0.7em;
  background-color: #d9d9d9;
}

.cs-message-group--incoming
  .cs-message-group__messages
  .cs-message
  .cs-message__content {
  border-radius: 0 0.7em 0.7em 0;
  background-color: #d9d9d9;
}

.cs-message-group--outgoing
  .cs-message-group__messages
  .cs-message:last-child
  .cs-message__content {
  border-radius: 0.7em 0 0.7em 0.7em;
  color: #fff;
  background-color: #1877f2;
}

.cs-message-group--outgoing
  .cs-message-group__messages
  .cs-message:first-child
  .cs-message__content {
  border-radius: 0.7em 0.7em 0 0.7em;
  color: #fff;
  background-color: #1877f2;
}

.cs-message-group--outgoing
  .cs-message-group__messages
  .cs-message:only-child
  .cs-message__content {
  border-radius: 0.7em 0.7em 0.7em 0.7em;
  color: #fff;
  background-color: #1877f2;
}

.cs-message-group--outgoing
  .cs-message-group__messages
  .cs-message
  .cs-message__content {
  border-radius: 0.7em 0 0 0.7em;
  color: #fff;
  background-color: #1877f2;
}

.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor {
  background-color: #d9d9d9;
}

.chat-container,
.cs-chat-container {
  height: calc(100vh - 100px);
}
