.ant-input-affix-wrapper {
  border: 1px solid #9d9999;
}

.ant-input-group-addon .ant-btn {
  border-color: #9d9999;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #9d9999;
}

.ant-picker {
  border: 1px solid #9d9999 !important;
}

.ant-picker-suffix {
  color: #9d9999;
}
