.bgc {
    background: linear-gradient(180deg, rgba(255, 241, 244, 0.2) 0%, rgba(255, 241, 244, 0.725) 65.62%, #FFF1F4 100%);
}

.shadow-title {
    box-shadow: 0px 0px 11px 4px #FFE7EB;
}

.bg-title {
    background: rgba(255, 255, 255, 0.5);
}

.shadow-card {
    box-shadow: 0px 0px 8px 6px #F5F5F5;
}

.text-box {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shadow-course:hover{
    filter: drop-shadow(0px 0px 33px rgba(251, 51, 87, 0.5));
}

.banner-shadow{
    box-shadow: 0px 0px 12px 13px #FFE7EB;
}

.trial-exam-primary-bg{
    background: linear-gradient(180deg, #FFF1F4 0%, rgba(255, 241, 244, 0) 100%);
}