.menuSidebar {
  :global {
    .ant-menu-item {
      .ant-menu-item-icon {
        color: #8492b6 !important;
      }
      .ant-menu-title-content a {
        color: #424f6f !important;
      }
    }
    .ant-menu-submenu {
      .ant-menu-submenu-title .ant-menu-item-icon {
        color: #8492b6 !important;
      }
      .ant-menu-submenu-title .ant-menu-title-content {
        color: #424f6f !important;
      }
    }
    .ant-menu-item:hover {
      background-color: rgba(145, 158, 171, 0.12);
    }
    .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
      .ant-menu-item-selected {
      background-color: #73e5ff54;
    }
    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: #73e5ff54;
    }
    .ant-menu-item-selected {
      .ant-menu-title-content a {
        color: black !important;
        font-weight: 600;
      }
      .ant-menu-item-icon {
        color: black !important;
      }
    }
    .ant-menu-submenu-selected {
      .ant-menu-submenu-title .ant-menu-item-icon {
        color: black !important;
      }
      .ant-menu-submenu-title .ant-menu-title-content {
        color: black !important;
        font-weight: 600;
      }
      .ant-menu-submenu-title .ant-menu-title-content {
        font-weight: 600;
      }
      .ant-menu-sub {
        .ant-menu-item-selected {
          .ant-menu-title-content {
            color: black !important;
            font-weight: 600;
          }
        }
      }
    }
    .ant-menu-inline-collapsed
      .ant-menu-submenu-selected
      .ant-menu-submenu-title {
      background-color: #73e5ff54 !important;
    }
  }
}

.menuDrawer {
  :global {
    .ant-drawer-content-wrapper
      .ant-drawer-content
      .ant-drawer-wrapper-body
      .ant-drawer-body {
      padding: 0px !important;
    }
  }
}

.boxShadow {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 30px;
}

.collapeBtn {
  border: dashed 0.5px;
}
